@use "vars" as *;

#header{
	background: white;
	box-shadow: 0 0 10px 0 rgba(black,0.16);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	.inner{
		@include flex(between,center,wrap);
	}
	.header-logo{
		display: block;
		width: 146px;
		position: relative;
		z-index: 10;
	}
	.header-nav{
		@include mq(md-min){
			width: calc(100% - 150px);
		}
		@include mq(tb){
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 100vh;
			padding: 80px 20px;
			overflow-y: scroll;
			background: white;
		}
		&__menu{
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			@include mq(tb){
				display: block;
			}
			&-item{
				>a{
					display: block;
					@include font-size(16);
					font-weight: 600;
					color: black;
					padding: 0 16px;
					@include mq(tb){
						padding: 20px 0;
					}
					&:hover{
						color:#ee0033;
						opacity: 1;
					}
				}
			}
		}
	}
	.js-mobile {
		width: 56px;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		cursor: pointer;
		z-index: 12;
		display: none;
		@include mq(tb){
			@include flex(center,center)
		}
		span{
			position: relative;
			display: block;
			width: 24px;
			height: 2px;
			background: #222222;
			border-radius: 3px;
			&:before,&:after{
				position: absolute;
				left: 0;
				width: 100%;
				height: 100%;
				background: #222222;
				content: '';
				-webkit-transition: -webkit-transform 0.3s;
				transition: transform 0.3s;
				border-radius: 3px;
			}
			&:before{
				-webkit-transform: translateY(-250%);
				transform: translateY(-250%);
				top: -2px;
			}
			&:after{
				-webkit-transform: translateY(250%);
				transform: translateY(250%);
				bottom: -2px;
			}
		}
		&--close {
			span{
				background-color: transparent;
				&:before,&:after{
					width: 100%;
					background: #222222;
				}
				&:before {
					-webkit-transform: translateY(0) rotate(45deg);
					transform: translateY(0) rotate(45deg);
					top: 2px;
				}
				&:after {
					-webkit-transform: translateY(0) rotate(-45deg);
					transform: translateY(0) rotate(-45deg);
					bottom: -2px;
				}
			}
		}
	}
}


.js-locked {
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none;
	body {
		-webkit-overflow-scrolling: auto;
	}
}