<footer id="footer">
	<div class="inner">
		<nav class="footer-nav">
			<div class="footer-nav__item">
				<h4 class="footer-nav__ttl">Giới thiệu</h4>
				<ul class="footer-nav__menu">
					<li><a href="">Viettel Money</a></li>
				</ul>
			</div>
			<div class="footer-nav__item">
				<h4 class="footer-nav__ttl">Sản phẩm</h4>
				<ul class="footer-nav__menu">
					<li><a href="">Viettel Money</a></li>
					<li><a href="">Cổng thanh toán</a></li>
					<li><a href="">Evoucher</a></li>
				</ul>
			</div>
			<div class="footer-nav__item">
				<h4 class="footer-nav__ttl">Dịch vụ</h4>
				<ul class="footer-nav__menu">
					<li><a href="">Viễn thông</a></li>
					<li><a href="">Chuyển tiền</a></li>
					<li><a href="">Hóa đơn</a></li>
					<li><a href="">Tài chính</a></li>
					<li><a href="">Bảo hiểm</a></li>
					<li><a href="">Mua sắm, giải trí</a></li>
					<li><a href="">Đi lại, du lịch</a></li>
					<li><a href="">Nộp học phí</a></li>
					<li><a href="">Dịch vụ khác</a></li>
				</ul>
			</div>
			<div class="footer-nav__item">
				<h4 class="footer-nav__ttl">Hướng dẫn</h4>
				<ul class="footer-nav__menu">
					<li><a href="">Hướng dẫn chung</a></li>
					<li><a href="">Liên kết thẻ</a></li>
					<li><a href="">Nạp tiền</a></li>
					<li><a href="">Viễn thông</a></li>
					<li><a href="">Thanh toán hóa đơn</a></li>
					<li><a href="">Nộp học phí</a></li>
					<li><a href="">Thanh toán tài chính</a></li>
					<li><a href="">Mua vé</a></li>
				</ul>
			</div>
			<div class="footer-nav__item">
				<h4 class="footer-nav__ttl">Mạng xã hội</h4>
				<ul class="footer-nav__menu">
					<li><a href="">Facebook</a></li>
					<li><a href="">Nhóm Facebook</a></li>
					<li><a href="">YouTube</a></li>
					<li><a href="">TikTok</a></li>
					<li><a href="">Viber</a></li>
				</ul>
				<h4 class="footer-nav__ttl">Hỗ trợ</h4>
				<ul class="footer-nav__menu">
					<li><a href="">Câu hỏi thường gặp</a></li>
					<li><a href="">Cửa hàng - đại lý</a></li>
				</ul>
			</div>
			<div class="footer-nav__item">
				<h4 class="footer-nav__ttl">Thông tin liên hệ</h4>
				<ul class="footer-nav__menu">
					<li><a href="">1800 9000 &nbsp;</a><span>(miễn phí)</span></li>
				</ul>

				<h4 class="footer-nav__ttl">Tải ứng dụng</h4>
				<div class="footer-nav__img">
					<a href="viettelmoney.go.link/hvnWR" target="_blank">
						<img src="<%= RELATIVE_PATH %>img/app.png" alt="img">
					</a>
				</div>

				<p>Gọi *998# khi không có kết nối mạng</p>

			</div>
		</nav>
		<div class="footer-note">
			<p>
				Cơ quan chủ quản: Tập đoàn Công nghiệp - Viễn thông Quân đội<br>
				Giấy phép số: 98/GP-BTTTT do Bộ Thông tin - Truyền thông cấp ngày 11/4/2024<br>
				Tổng Công ty Dịch vụ số Viettel - Chi nhánh Tập đoàn Công nghiệp - Viễn thông Quân đội<br>
				GCN ĐKHĐ: 0100109106-478 - Cấp lần đầu: 06/06/2019, Cơ quan cấp: Sở Kế hoạch và Đầu tư TP Hà Nội<br>
				Giấy phép hoạt động cung ứng dịch vụ trung gian thanh toán số 57/GP-NHNN do Ngân hàng nhà nước cấp ngày 21/7/2020 cho các dịch vụ: dịch vụ cổng thanh toán điện tử, dịch vụ hỗ trợ thu hộ, chi hộ, dịch vụ ví điện tử.<br>
				Hình thức cung ứng dịch vụ trung gian thanh toán: thông qua ứng dụng Viettel Money.<br>
				Thương hiệu dịch vụ: Viettel Money.<br>
				Nghị quyết số 87/NQ-CP của Chính phủ ngày 15/4/2025 về việc gia hạn thời gian thực hiện thí điểm dùng tài khoản viễn thông thanh toán cho các hàng hóa, dịch vụ có giá trị nhỏ.<br>
				Trụ sở chính: Số 01 Giang Văn Minh, Phường Giảng Võ, thành phố Hà Nội, Việt Nam
			</p>
		</div>
		<ul class="footer-links">
			<li><a href="https://viettelmoney.vn/wp-content/uploads/Thevatly.pdf" target="_blank">Thẻ vật lý</a></li>
			<li><a href="https://viettelmoney.vn/wp-content/uploads/BieuphidichvuViettelMoney.pdf" target="_blank">Biểu phí</a></li>
			<li><a href="https://viettelmoney.vn/wp-content/uploads/NganhanghotroVietQR.pdf" target="_blank">Ngân hàng hỗ trợ VietQR</a></li>
			<li><a href="https://viettelmoney.vn/wp-content/uploads/Baovedulieucanhan.pdf" target="_blank">Chính sách bảo vệ dữ liệu</a></li>
			<li><a href="https://viettelmoney.vn/wp-content/uploads/TNC-ViettelMoney.pdf" target="_blank">Điều khoản sử dụng website</a></li>
			<li><a href="https://viettelmoney.vn/wp-content/uploads/DieukhoansudungViettelMoney.pdf" target="_blank">Điều khoản sử dụng ứng dụng</a></li>
			<li><a href="https://viettelmoney.vn/wp-content/uploads/QCHDsanTMDTViettelMoney.pdf" target="_blank">Thông tin, chính sách, cơ chế</a></li>
			<li><a href="https://viettelmoney.vn/wp-content/uploads/DieukhoanvaBieuphiDigitalPay.pdf" target="_blank">DigitalPay</a></li>
		</ul>
		<div class="footer-nooty">
			<a href="http://online.gov.vn/Website/chi-tiet-135501" target="_blank"><img src="<%= RELATIVE_PATH %>img/nooty.png" alt="img" width="120"></a>
		</div>
		<div class="copyright">
			© Viettel Digital
		</div>
	</div>
</footer>
<div class="search-item open-search">
	<img src="<%= RELATIVE_PATH %>img/search.svg" alt="search">
</div>

<div class="popup" id="popup-search">
	<div class="popup-bg js-close"></div>
	<div class="popup-content">
		<div class="popup-content__close js-close">
			<img src="<%= RELATIVE_PATH %>img/close.png" alt="img">
		</div>
		<div class="popup-search">

			<div class="popup-search__input">
				<input type="text" class="form-control" placeholder="Thông tin bạn cần tìm...">
			</div>
			<button type="button" class="popup-search__btn">
				Tìm kiếm
			</button>
		</div>
	</div>
</div>