<header id="header">
	<div class="inner">
		<a href="<%= RELATIVE_PATH %>" class="header-logo">
			<img src="<%= RELATIVE_PATH %>img/logo.svg" alt="img">
		</a>
		<nav class="header-nav">
			<ul class="header-nav__menu">
				<li class="header-nav__menu-item">
					<a href="">Giới thiệu</a>
				</li>
				<li class="header-nav__menu-item">
					<a href="">Sản phẩm</a>
				</li>
				<li class="header-nav__menu-item">
					<a href="">Dịch vụ</a>
				</li>
				<li class="header-nav__menu-item">
					<a href="">Tin tức</a>
				</li>
				<li class="header-nav__menu-item">
					<a href="">Khuyến mãi</a>
				</li>
				<li class="header-nav__menu-item">
					<a href="">Hỗ trợ</a>
				</li>
			</ul>
		</nav>
		<span class="js-mobile">
			<span></span>
		</span>
	</div>
</header>