<section class="sec-content">
	<div class="inner">
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="">Trang chủ</a></li>
				<li class="breadcrumb-item"><a href="">Tài chính</a></li>
				<li class="breadcrumb-item active">Giới thiệu về chúng tôi</li>
			</ol>
		</nav>
		<div class="certification-block">
			<img src="<%= RELATIVE_PATH %>img/certification.png" alt="img" class="pc-sm">
			<img src="<%= RELATIVE_PATH %>img/certification-sp.png" alt="img" class="sp-sm">
		</div>
	</div>
</section>
<section class="sec-support">
	<div class="inner">
		<h2 class="c-ttl__01">Nhận thông tin từ chúng tôi</h2>
		<div class="support-note">
			<p>
				Đừng bỏ lỡ những chương trình khuyến mãi cùng quà tặng hấp dẫn đến từ chúng tôi
			</p>
		</div>
		<div class="support-block">
			<div class="support-block__item">
				<input type="text" class="form-control" placeholder="Họ tên *">
			</div>
			<div class="support-block__item">
				<input type="text" class="form-control" placeholder="Số điện thoại *">
			</div>
			<div class="support-block__item">
				<input type="text" class="form-control" placeholder="Email *">
			</div>
		</div>
		<div class="support-sub">
			<button type="button" class="c-btn__01">Gửi yêu cầu</button>
		</div>
	</div>
</section>

