<section class="sec-content">
	<div class="inner">
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="">Trang chủ</a></li>
				<li class="breadcrumb-item"><a href="">Tài chính</a></li>
				<li class="breadcrumb-item active">Giới thiệu về chúng tôi</li>
			</ol>
		</nav>
		<div class="client-block">
			<div class="client-block__img">
				<img src="<%= RELATIVE_PATH %>img/otp.png" alt="img">
			</div>
			<h2 class="client-block__ttl">NHẬP MÃ XÁC THỰC</h2>
			<div class="client-block__otp">
				<p class="c-al--c">
					Mã xác thực được gửi về số điện thoại <strong>0974***388</strong> của bạn. Sau <strong class="c-fc--red">02:00</strong> chưa nhận được, chọn “Nhận lại mã xác thực” để gửi lại yêu cầu gửi mã.
				</p>
				<ul class="client-block__otp-code">
					<li><input type="text" class="form-control"></li>
					<li><input type="text" class="form-control"></li>
					<li><input type="text" class="form-control"></li>
					<li><input type="text" class="form-control"></li>
					<li><input type="text" class="form-control"></li>
				</ul>
			</div>
			<div class="client-block__sub">
				<button type="button" class="c-btn__01">Xác nhận</button>
			</div>
			<div class="c-al--c">
				<a href="" class="client-block__link">
					Nhận lại mã xác thực
				</a>
			</div>

		</div>
	</div>
</section>
<section class="sec-support">
	<div class="inner">
		<h2 class="c-ttl__01">Nhận thông tin từ chúng tôi</h2>
		<div class="support-note">
			<p>
				Đừng bỏ lỡ những chương trình khuyến mãi cùng quà tặng hấp dẫn đến từ chúng tôi
			</p>
		</div>
		<div class="support-block">
			<div class="support-block__item">
				<input type="text" class="form-control" placeholder="Họ tên *">
			</div>
			<div class="support-block__item">
				<input type="text" class="form-control" placeholder="Số điện thoại *">
			</div>
			<div class="support-block__item">
				<input type="text" class="form-control" placeholder="Email *">
			</div>
		</div>
		<div class="support-sub">
			<button type="button" class="c-btn__01">Gửi yêu cầu</button>
		</div>
	</div>
</section>

<div class="popup popup--small" id="popup-otp">
	<div class="popup-bg js-close"></div>
	<div class="popup-content">
		<div class="popup-content__close popup-content__close--02 js-close">
			<img src="<%= RELATIVE_PATH %>img/close02.png" alt="img">
		</div>
		<div class="popup-img">
			<img src="<%= RELATIVE_PATH %>img/otp.png" alt="img">
		</div>
		<h3 class="popup-content__ttl">XÁC THỰC OTP</h3>
		<div class="popup-error c-al--c">
			<p>
				Quý khách đã nhập sai mã OTP quá số lần cho phép.<br>
				Vui lòng thử lại sau 10 phút
			</p>
			<button type="button" class="c-btn__01 js-close">Đóng</button>
		</div>
	</div>
</div>

